<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio_Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
        <nav class="site-nav" aria-label="Main">
        <ul>
            <li><a class="nav-link" href="{{ url_for('index') }}" {% if request.endpoint == 'index' %}aria-current="page"{% endif %}>Home</a></li>
            <li><a class="nav-link" href="{{ url_for('profile') }}" {% if request.endpoint == 'profile' %}aria-current="page"{% endif %}>Profile</a></li>
            <li><a class="nav-link" href="{{ url_for('works') }}" {% if request.endpoint == 'works' %}aria-current="page"{% endif %}>Programming Works</a></li>
            <li><a class="nav-link" href="{{ url_for('contact') }}" {% if request.endpoint == 'contact' %}aria-current="page"{% endif %}>Contacts</a></li>
        </ul>
    </nav>
    <div class = "welcome home-page">
        <div class = "welcome-content">
            <h1>
                <span class "word-super" >WELCOME</span>
                <span class "word-super" >TO</span>
                <span class "word-super" >KASHICA'S</span>
                <span class "word-super" >WORLD!</span>
            </h1>
            <p>🍄Hello, This is My Portfolio! You are welcome to venture into my project and interact with my programming works, 
                featuring uppercase conversion, area calculators, and linked lists.</p>
        </div>
    <div>

</body>
</html>
